## CSV file database

functions we need: 

1. add strains or dna to a specific sheet
    - update_id(): A Function to automatically give the next UNIQUE ID starting from 10000
    - add_to_database()
    
    
2. pull strains from a sheet - Get DNA
3. update a row or rows in a sheet 
4. Get location
4.

In [1]:
### making a csv local database 
import pandas as pd
from Bio import SeqIO
from Bio.SeqRecord import SeqRecord
from Bio.Seq import Seq

## initializing

In [2]:
list_of_well_numbers = []

for i in range(1,13): 
    i = str(i)
    if len(i) == 1: 
        i = '0'+i
    list_of_well_numbers.append(i)

list_of_well_numbers = list_of_well_numbers *8
len(list_of_well_numbers)

list_of_well_numbers = list_of_well_numbers *10
len(list_of_well_numbers)

960

In [3]:
list_of_boxes = []
wells = '0123456789'

for well in wells:
    listen = str(well)*96
    
    list_of_boxes+= listen
    
len(list_of_boxes)

960

In [4]:
list_of_well_names = []
wells = 'ABCDEFGH'

for well in wells:
    listen = (well)*12
    list_of_well_names += listen

list_of_well_names = list_of_well_names*10
len(list_of_well_names)

960

In [5]:
strains = pd.DataFrame(list(zip(list_of_boxes, list_of_well_names, list_of_well_numbers)),
              columns=['plate','row', 'col'])
columns = ['ID', 'description','parts', 'parent', 'media', 'sequence', 'stock']

for names in columns: 
    strains[names] = ''
strains['ID'] = ''
strains['Description'] = ''

strains

    plate row col ID description parts parent media sequence stock Description
0       0   A  01
1       0   A  02
2       0   A  03
3       0   A  04
4       0   A  05
..    ...  ..  .. ..         ...   ...    ...   ...      ...   ...         ...
955     9   H  08
956     9   H  09
957     9   H  10
958     9   H  11
959     9   H  12

[960 rows x 11 columns]

# Importing boiler csv database 10 plates or boxes per database

There are two formats: 
1. Plates
2. Freezer boxes (not made yet)

In [6]:
strains = pd.read_excel('/Users/lucaslevassor/Downloads/inventory.xlsx', sheet_name = 'strains')
e_coli_strains = pd.read_excel('/Users/lucaslevassor/Downloads/inventory.xlsx', sheet_name = 'eStrains')
plasmids = pd.read_excel('/Users/lucaslevassor/Downloads/inventory.xlsx', sheet_name = 'plasmids')
ds_DNA_plate = pd.read_excel('/Users/lucaslevassor/Downloads/inventory.xlsx', sheet_name = 'ds_dna')

In [7]:
strains_df = strains.iloc[0:0]
strains_df=strains_df.rename(columns = {'sdp_id':'ID'})

strains_df

Empty DataFrame
Columns: [ID, date, hour, plate, row, col, description, parts, parent, media,  , seq, features, location, reference, stock]
Index: []

In [8]:
ds_DNA_plate['concentration'] = ''
ds_DNA_plate

Empty DataFrame
Columns: [ID, date, hour, plate, row, col, description, temp_name, fw_name, rv_name, size, seq, features, location, reference, stock, Comments, concentration]
Index: []

In [9]:
from Bio import SeqIO
CPR_templates = []
G8H_templates = []

# GEtting the objects from the gb files
for seq_record in SeqIO.parse('../data/G8H_CPR_parts/CPR_tCYC1_-_2022-06-06.gb', format= 'gb'):
    CPR_templates.append(seq_record)
    
# GEtting the objects from the fasta files
for seq_record in SeqIO.parse('../data/G8H_CPR_parts/G8H_tADH1_-_2022-06-23.gb', format= 'gb'):
    G8H_templates.append(seq_record)

In [10]:
for annotations in CPR_templates: 
    annotations.annotations = {'concentration': 100, 'reference':'','stock':'', 'comments':'' ,'temp_name':'' , 'fw_name':'', 'rv_name':''}

In [11]:
CPR_templates[0].annotations

{'concentration': 100,
 'reference': '',
 'stock': '',
 'comments': '',
 'temp_name': '',
 'fw_name': '',
 'rv_name': ''}

In [12]:
len(list_of_boxes), len(list_of_well_names), len(list_of_well_numbers)

(960, 960, 960)

## importing local database

In [39]:
ds_DNA_plates = pd.read_csv('../data/csv_database/ds_dna_plate.csv', index_col=False)
#ds_DNA_plates['date'] = ''

#ds_DNA_plates = ds_DNA_plates[['ID','name','date','plate','row','col','size','seq','concentration','features','location','reference','stock','comments']]
#ds_DNA_plates.to_csv('../data/csv_database/ds_dna_plate_MASTER.csv', index=False)

In [40]:
ds_DNA_plates

,ID,name,date,plate,row,col,size,seq,concentration,features,location,reference,stock,comments
0,NaN,NaN,NaN,0,A,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,0,A,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,0,A,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,0,A,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,0,A,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
955,NaN,NaN,NaN,9,H,8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
956,NaN,NaN,NaN,9,H,9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
957,NaN,NaN,NaN,9,H,10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
958,NaN,NaN,NaN,9,H,11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
959,NaN,NaN,NaN,9,H,12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [41]:
import os
import numpy as np
def get_unique_id(path = '../data/csv_database')-> int: 
    # get list of files
    files = os.listdir(path)

    # get csv files - sometimes there is a jupyter file or something here
    csv_files =[]
    for csv in files: 
        if csv.endswith('csv'): 
            csv_files.append(csv)

    # Pandas dataframe
    dataframes = []
    list_of_ids = []
    for df in csv_files:
        dataframe = pd.read_csv(path+'/'+df)
        list_of_ids += dataframe['ID'].to_list()
        
    # find highest number in list 
    highest_number = max(list_of_ids)
    if type(highest_number) != type(int): 
        highest_number = 10000
    
    return int(highest_number)+1

get_unique_id()

10001

In [42]:
def add_sequences_to_dataframe(list_of_DNA:list,csv_database_as_df, index = 0 )->None: 
    '''Adds sequences to local csv databse.
    
    Parameters
    ----------
    list_of_DNA : list
        BioSeqrecord objects
        
    csv_database_as_df : pd.DataFrame
        your temporary csv database made into a pandas dataframe
        
    index : int
        designating which index you want the dna i.e could choose index= 288 which is plate 3 A1
        
    Returns
    -------
    None
        updates the dateframe with your sequences
    
    
    '''
    counter = 0
    for ds_dna in list_of_DNA:
        # find index x
        if index != 0: 
            blank_row_index = index+counter
            counter += 1
        else: 
        #Find blank id spot
            blank_row_bool = csv_database_as_df.loc[:,'ID'].isna()                             # get NaN records
            blank_row_index =  [i+index for i, x in enumerate(blank_row_bool) if x][0] # get first index with nan ID

        # Changing the dataframe
        csv_database_as_df.loc[blank_row_index,'ID'] = int(ds_dna.id)
        csv_database_as_df.loc[blank_row_index, 'description'] = ds_dna.description
        csv_database_as_df.loc[blank_row_index, 'size'] = len(ds_dna.seq)
        csv_database_as_df.loc[blank_row_index, 'seq'] = str(ds_dna.seq)
        csv_database_as_df.loc[blank_row_index,'date'] = str(pd.to_datetime('today').strftime("%m-%d-%Y"))
        csv_database_as_df.loc[blank_row_index, 'name'] = ds_dna.name
        csv_database_as_df.loc[blank_row_index,'features'] = str(ds_dna.features)

        # annotations
        #csv_database_as_df.loc[blank_row_index,'temp_name'] = ds_dna.annotations['temp_name']
        #csv_database_as_df.loc[blank_row_index,'fw_name'] = ds_dna.annotations['fw_name']
        #csv_database_as_df.loc[blank_row_index,'rv_name'] = ds_dna.annotations['rv_name']
        csv_database_as_df.loc[blank_row_index,'concentration'] = ds_dna.annotations['concentration']
        csv_database_as_df.loc[blank_row_index,'comments'] = ds_dna.annotations['comments']
        csv_database_as_df.loc[blank_row_index,'reference'] = ds_dna.annotations['reference']
        csv_database_as_df.loc[blank_row_index,'stock'] = ds_dna.annotations['stock']

In [44]:
#list_of_DNA = CPR_templates
#index = 0
#counter = 0
#csv_database_as_df = ds_DNA_plates
#for ds_dna in list_of_DNA:
#    # find plate number x 
#    #plate_index = dataframe.loc[dataframe['plate']==plate].index[0]
#
#    if index != 0: 
#        blank_row_index = index+counter
#        counter += 1
#    else: 
#    #Find blank id column
#        blank_row_bool = csv_database_as_df.loc[:,'ID'].isna()                             # get NaN records
#
#        blank_row_index =  [i for i, true in enumerate(blank_row_bool) if true][0+index] # get first index with nan ID
#print(blank_row_index)

In [45]:
def get_plate(plate_number:int, csv_database_as_df): 
    
    ''' Returns the plate from a specified csv_database. 
    Parameters
    ----------
    plate_number : int
        designating which plate to fetch
    csv_database_as_df : pd.DataFrame
        your temporary csv database made into a pandas dataframe
        
    Returns
    -------
    pd.Dataframe
        dataframe with the specified plate
        
    '''    
    plate = csv_database_as_df.loc[csv_database_as_df['plate']==plate_number]
    
    return plate

In [46]:
get_plate(0, ds_DNA_plates)

,ID,name,date,plate,row,col,size,seq,concentration,features,location,reference,stock,comments
0,NaN,NaN,NaN,0,A,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,0,A,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,0,A,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,0,A,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,0,A,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
91,NaN,NaN,NaN,0,H,8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
92,NaN,NaN,NaN,0,H,9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
93,NaN,NaN,NaN,0,H,10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
94,NaN,NaN,NaN,0,H,11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
95,NaN,NaN,NaN,0,H,12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [47]:
#ds_DNA.to_csv('../data/csv_database/ds_dna.csv')

In [48]:
G8H_templates

[SeqRecord(seq=Seq('GAGCGACCTCATGCTATACCTGAGAAAGCAACCTGACCTACAGGAAAGAGTTAC...CAT'), id=10001, name='CcalG8H_tADH1', description='', dbxrefs=[]),
 SeqRecord(seq=Seq('GAGCGACCTCATGCTATACCTGAGAAAGCAACCTGACCTACAGGAAAGAGTTAC...CAT'), id=10002, name='PcoG8H_tADH1', description='', dbxrefs=[]),
 SeqRecord(seq=Seq('GAGCGACCTCATGCTATACCTGAGAAAGCAACCTGACCTACAGGAAAGAGTTAC...CAT'), id=10003, name='CroG8H_tADH1', description='', dbxrefs=[]),
 SeqRecord(seq=Seq('GAGCGACCTCATGCTATACCTGAGAAAGCAACCTGACCTACAGGAAAGAGTTAC...CAT'), id=10004, name='OpumG8H_tADH1', description='', dbxrefs=[]),
 SeqRecord(seq=Seq('GAGCGACCTCATGCTATACCTGAGAAAGCAACCTGACCTACAGGAAAGAGTTAC...CAT'), id=10005, name='CacuG8H_tADH1', description='', dbxrefs=[]),
 SeqRecord(seq=Seq('GAGCGACCTCATGCTATACCTGAGAAAGCAACCTGACCTACAGGAAAGAGTTAC...CAT'), id=10006, name='RsepG8H_tADH1', description='', dbxrefs=[]),
 SeqRecord(seq=Seq('GAGCGACCTCATGCTATACCTGAGAAAGCAACCTGACCTACAGGAAAGAGTTAC...CAT'), id=10007, name='SmusG8H_tADH1', description='', dbxrefs=[]),
 SeqRecord(seq=Seq('GAGCGACCTCATGCTATACCTGAGAAAGCAACCTGACCTACAGGAAAGAGTTAC...CAT'), id=10008, name='VminG8H_tADH1', description='', dbxrefs=[]),
 SeqRecord(seq=Seq('GAGCGACCTCATGCTATACCTGAGAAAGCAACCTGACCTACAGGAAAGAGTTAC...CAT'), id=10009, name='OeuG8H_tADH1', description='', dbxrefs=[])]

In [49]:
get_unique_id()

10001

In [22]:
ds_DNA_plates

,ID,name,plate,row,col,size,seq,concentration,features,location,reference,stock,comments
0,NaN,NaN,0,A,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,0,A,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,0,A,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,0,A,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,0,A,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
955,NaN,NaN,9,H,8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
956,NaN,NaN,9,H,9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
957,NaN,NaN,9,H,10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
958,NaN,NaN,9,H,11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
959,NaN,NaN,9,H,12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [50]:
def add_unique_ids(list_of_parts:list) -> None: 
    ''' Adds unique ids to a list of SeqRecords.'''
    for i in range(len(list_of_parts)):
        unique_id = get_unique_id()+i
        list_of_parts[i].id = unique_id

In [51]:
def add_annotations(list_of_parts:list) -> None: 
    ''' Adds the neccessary annotations to SeqRecord object
    to be uploaded to the database'''
    for annotations in list_of_parts: 
        annotations.annotations = {'concentration': '', 'reference':'',
                                   'stock':'', 'comments':'' ,'temp_name':'' 
                                   , 'fw_name':'', 'rv_name':''}

In [52]:
add_unique_ids(G8H_templates)
G8H_templates

[SeqRecord(seq=Seq('GAGCGACCTCATGCTATACCTGAGAAAGCAACCTGACCTACAGGAAAGAGTTAC...CAT'), id=10001, name='CcalG8H_tADH1', description='', dbxrefs=[]),
 SeqRecord(seq=Seq('GAGCGACCTCATGCTATACCTGAGAAAGCAACCTGACCTACAGGAAAGAGTTAC...CAT'), id=10002, name='PcoG8H_tADH1', description='', dbxrefs=[]),
 SeqRecord(seq=Seq('GAGCGACCTCATGCTATACCTGAGAAAGCAACCTGACCTACAGGAAAGAGTTAC...CAT'), id=10003, name='CroG8H_tADH1', description='', dbxrefs=[]),
 SeqRecord(seq=Seq('GAGCGACCTCATGCTATACCTGAGAAAGCAACCTGACCTACAGGAAAGAGTTAC...CAT'), id=10004, name='OpumG8H_tADH1', description='', dbxrefs=[]),
 SeqRecord(seq=Seq('GAGCGACCTCATGCTATACCTGAGAAAGCAACCTGACCTACAGGAAAGAGTTAC...CAT'), id=10005, name='CacuG8H_tADH1', description='', dbxrefs=[]),
 SeqRecord(seq=Seq('GAGCGACCTCATGCTATACCTGAGAAAGCAACCTGACCTACAGGAAAGAGTTAC...CAT'), id=10006, name='RsepG8H_tADH1', description='', dbxrefs=[]),
 SeqRecord(seq=Seq('GAGCGACCTCATGCTATACCTGAGAAAGCAACCTGACCTACAGGAAAGAGTTAC...CAT'), id=10007, name='SmusG8H_tADH1', description='', dbxrefs=[]),
 SeqRecord(seq=Seq('GAGCGACCTCATGCTATACCTGAGAAAGCAACCTGACCTACAGGAAAGAGTTAC...CAT'), id=10008, name='VminG8H_tADH1', description='', dbxrefs=[]),
 SeqRecord(seq=Seq('GAGCGACCTCATGCTATACCTGAGAAAGCAACCTGACCTACAGGAAAGAGTTAC...CAT'), id=10009, name='OeuG8H_tADH1', description='', dbxrefs=[])]

In [53]:
add_annotations(G8H_templates)

In [54]:
add_sequences_to_dataframe(G8H_templates, ds_DNA_plates, index = 0)

In [55]:
#pd.set_option('display.max_rows', None)

In [58]:
get_plate(0, ds_DNA_plates)

,ID,name,date,plate,row,col,size,seq,concentration,features,location,reference,stock,comments,description
0,10001.0,CcalG8H_tADH1,08-11-2022,0,A,1,1803.0,GAGCGACCTCATGCTATACCTGAGAAAGCAACCTGACCTACAGGAA...,,"[SeqFeature(FeatureLocation(ExactPosition(0), ...",NaN,,,,
1,10002.0,PcoG8H_tADH1,08-11-2022,0,A,2,1370.0,GAGCGACCTCATGCTATACCTGAGAAAGCAACCTGACCTACAGGAA...,,"[SeqFeature(FeatureLocation(ExactPosition(0), ...",NaN,,,,
2,10003.0,CroG8H_tADH1,08-11-2022,0,A,3,1695.0,GAGCGACCTCATGCTATACCTGAGAAAGCAACCTGACCTACAGGAA...,,"[SeqFeature(FeatureLocation(ExactPosition(0), ...",NaN,,,,
3,10004.0,OpumG8H_tADH1,08-11-2022,0,A,4,1860.0,GAGCGACCTCATGCTATACCTGAGAAAGCAACCTGACCTACAGGAA...,,"[SeqFeature(FeatureLocation(ExactPosition(0), ...",NaN,,,,
4,10005.0,CacuG8H_tADH1,08-11-2022,0,A,5,1827.0,GAGCGACCTCATGCTATACCTGAGAAAGCAACCTGACCTACAGGAA...,,"[SeqFeature(FeatureLocation(ExactPosition(0), ...",NaN,,,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
91,NaN,NaN,NaN,0,H,8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
92,NaN,NaN,NaN,0,H,9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
93,NaN,NaN,NaN,0,H,10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
94,NaN,NaN,NaN,0,H,11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
95,NaN,NaN,NaN,0,H,12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [59]:
def update_database(dataframe, which_database:str, path = '../data/csv_database/') -> None:
    '''Updates the database of choosing'''
    dataframe.to_csv(path+which_database+'.csv')

In [60]:
ds_DNA_plates.head(20)

,ID,name,date,plate,row,col,size,seq,concentration,features,location,reference,stock,comments,description
0,10001.0,CcalG8H_tADH1,08-11-2022,0,A,1,1803.0,GAGCGACCTCATGCTATACCTGAGAAAGCAACCTGACCTACAGGAA...,,"[SeqFeature(FeatureLocation(ExactPosition(0), ...",NaN,,,,
1,10002.0,PcoG8H_tADH1,08-11-2022,0,A,2,1370.0,GAGCGACCTCATGCTATACCTGAGAAAGCAACCTGACCTACAGGAA...,,"[SeqFeature(FeatureLocation(ExactPosition(0), ...",NaN,,,,
2,10003.0,CroG8H_tADH1,08-11-2022,0,A,3,1695.0,GAGCGACCTCATGCTATACCTGAGAAAGCAACCTGACCTACAGGAA...,,"[SeqFeature(FeatureLocation(ExactPosition(0), ...",NaN,,,,
3,10004.0,OpumG8H_tADH1,08-11-2022,0,A,4,1860.0,GAGCGACCTCATGCTATACCTGAGAAAGCAACCTGACCTACAGGAA...,,"[SeqFeature(FeatureLocation(ExactPosition(0), ...",NaN,,,,
4,10005.0,CacuG8H_tADH1,08-11-2022,0,A,5,1827.0,GAGCGACCTCATGCTATACCTGAGAAAGCAACCTGACCTACAGGAA...,,"[SeqFeature(FeatureLocation(ExactPosition(0), ...",NaN,,,,
5,10006.0,RsepG8H_tADH1,08-11-2022,0,A,6,1803.0,GAGCGACCTCATGCTATACCTGAGAAAGCAACCTGACCTACAGGAA...,,"[SeqFeature(FeatureLocation(ExactPosition(0), ...",NaN,,,,
6,10007.0,SmusG8H_tADH1,08-11-2022,0,A,7,1809.0,GAGCGACCTCATGCTATACCTGAGAAAGCAACCTGACCTACAGGAA...,,"[SeqFeature(FeatureLocation(ExactPosition(0), ...",NaN,,,,
7,10008.0,VminG8H_tADH1,08-11-2022,0,A,8,1803.0,GAGCGACCTCATGCTATACCTGAGAAAGCAACCTGACCTACAGGAA...,,"[SeqFeature(FeatureLocation(ExactPosition(0), ...",NaN,,,,
8,10009.0,OeuG8H_tADH1,08-11-2022,0,A,9,1803.0,GAGCGACCTCATGCTATACCTGAGAAAGCAACCTGACCTACAGGAA...,,"[SeqFeature(FeatureLocation(ExactPosition(0), ...",NaN,,,,
9,NaN,NaN,NaN,0,A,10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,NaN,NaN,NaN,0,A,11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,NaN,NaN,NaN,0,A,12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,NaN,NaN,NaN,0,B,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,NaN,NaN,NaN,0,B,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,NaN,NaN,NaN,0,B,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,NaN,NaN,NaN,0,B,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,NaN,NaN,NaN,0,B,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,NaN,NaN,NaN,0,B,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,NaN,NaN,NaN,0,B,7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,NaN,NaN,NaN,0,B,8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [66]:
update_database(ds_DNA_plates, 'ds_dna_plates')

In [101]:
def get_ds_dna(name:str, database_name:str)-> SeqRecord:
    
    # initialize
    path = '../data/csv_database/'+database_name+'.csv'
    dataframe = pd.read_csv(path)
    
    #find index of occurences of name in the dataframe and reset index
    found_the_record_df = dataframe.loc[dataframe['name']==name].reset_index()#.index[0]
    
    # Reset index
    #found_the_record_df = found_the_record_df.reset_index()
    
    # Taking data from the df
    Record = SeqRecord(Seq(str(found_the_record_df.loc[0,'seq'])))
    Record.id = int(found_the_record_df.loc[0,'ID'])
    Record.name = found_the_record_df.loc[0,'name']
    Record.description = found_the_record_df.loc[0,'description']
    Record.annotations = {'plate':found_the_record_df.loc[0,'plate'],'row':found_the_record_df.loc[0,'row'],'col':found_the_record_df.loc[0,'col'], }

    return Record

In [102]:
cacug8h = get_ds_dna('CroG8H_tADH1', 'ds_dna_plates')
cacug8h

SeqRecord(seq=Seq('GAGCGACCTCATGCTATACCTGAGAAAGCAACCTGACCTACAGGAAAGAGTTAC...CAT'), id=10003, name='CroG8H_tADH1', description=nan, dbxrefs=[])

In [103]:
G8H_templates

[SeqRecord(seq=Seq('GAGCGACCTCATGCTATACCTGAGAAAGCAACCTGACCTACAGGAAAGAGTTAC...CAT'), id=10001, name='CcalG8H_tADH1', description='', dbxrefs=[]),
 SeqRecord(seq=Seq('GAGCGACCTCATGCTATACCTGAGAAAGCAACCTGACCTACAGGAAAGAGTTAC...CAT'), id=10002, name='PcoG8H_tADH1', description='', dbxrefs=[]),
 SeqRecord(seq=Seq('GAGCGACCTCATGCTATACCTGAGAAAGCAACCTGACCTACAGGAAAGAGTTAC...CAT'), id=10003, name='CroG8H_tADH1', description='', dbxrefs=[]),
 SeqRecord(seq=Seq('GAGCGACCTCATGCTATACCTGAGAAAGCAACCTGACCTACAGGAAAGAGTTAC...CAT'), id=10004, name='OpumG8H_tADH1', description='', dbxrefs=[]),
 SeqRecord(seq=Seq('GAGCGACCTCATGCTATACCTGAGAAAGCAACCTGACCTACAGGAAAGAGTTAC...CAT'), id=10005, name='CacuG8H_tADH1', description='', dbxrefs=[]),
 SeqRecord(seq=Seq('GAGCGACCTCATGCTATACCTGAGAAAGCAACCTGACCTACAGGAAAGAGTTAC...CAT'), id=10006, name='RsepG8H_tADH1', description='', dbxrefs=[]),
 SeqRecord(seq=Seq('GAGCGACCTCATGCTATACCTGAGAAAGCAACCTGACCTACAGGAAAGAGTTAC...CAT'), id=10007, name='SmusG8H_tADH1', description='', dbxrefs=[]),
 SeqRecord(seq=Seq('GAGCGACCTCATGCTATACCTGAGAAAGCAACCTGACCTACAGGAAAGAGTTAC...CAT'), id=10008, name='VminG8H_tADH1', description='', dbxrefs=[]),
 SeqRecord(seq=Seq('GAGCGACCTCATGCTATACCTGAGAAAGCAACCTGACCTACAGGAAAGAGTTAC...CAT'), id=10009, name='OeuG8H_tADH1', description='', dbxrefs=[])]

In [109]:
g8h_from_csv_database = [] 
for name in G8H_templates: 
    record = get_ds_dna(str(name.name), 'ds_dna_plates' )
    g8h_from_csv_database.append(record)
g8h_from_csv_database

[SeqRecord(seq=Seq('GAGCGACCTCATGCTATACCTGAGAAAGCAACCTGACCTACAGGAAAGAGTTAC...CAT'), id=10001, name='CcalG8H_tADH1', description=nan, dbxrefs=[]),
 SeqRecord(seq=Seq('GAGCGACCTCATGCTATACCTGAGAAAGCAACCTGACCTACAGGAAAGAGTTAC...CAT'), id=10002, name='PcoG8H_tADH1', description=nan, dbxrefs=[]),
 SeqRecord(seq=Seq('GAGCGACCTCATGCTATACCTGAGAAAGCAACCTGACCTACAGGAAAGAGTTAC...CAT'), id=10003, name='CroG8H_tADH1', description=nan, dbxrefs=[]),
 SeqRecord(seq=Seq('GAGCGACCTCATGCTATACCTGAGAAAGCAACCTGACCTACAGGAAAGAGTTAC...CAT'), id=10004, name='OpumG8H_tADH1', description=nan, dbxrefs=[]),
 SeqRecord(seq=Seq('GAGCGACCTCATGCTATACCTGAGAAAGCAACCTGACCTACAGGAAAGAGTTAC...CAT'), id=10005, name='CacuG8H_tADH1', description=nan, dbxrefs=[]),
 SeqRecord(seq=Seq('GAGCGACCTCATGCTATACCTGAGAAAGCAACCTGACCTACAGGAAAGAGTTAC...CAT'), id=10006, name='RsepG8H_tADH1', description=nan, dbxrefs=[]),
 SeqRecord(seq=Seq('GAGCGACCTCATGCTATACCTGAGAAAGCAACCTGACCTACAGGAAAGAGTTAC...CAT'), id=10007, name='SmusG8H_tADH1', description=nan, dbxrefs=[]),
 SeqRecord(seq=Seq('GAGCGACCTCATGCTATACCTGAGAAAGCAACCTGACCTACAGGAAAGAGTTAC...CAT'), id=10008, name='VminG8H_tADH1', description=nan, dbxrefs=[]),
 SeqRecord(seq=Seq('GAGCGACCTCATGCTATACCTGAGAAAGCAACCTGACCTACAGGAAAGAGTTAC...CAT'), id=10009, name='OeuG8H_tADH1', description=nan, dbxrefs=[])]

In [105]:
cacug8h.annotations['row']

'A'